body {
  background-image: url('https://loveincorporated.blob.core.windows.net/contentimages/gallery/2336d7d8-94d3-4bf3-9b15-dce2bed752f4-19.%20kitchen-with-daybed.jpg ');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Combo', cursive;
}

h1 {
    text-align: center;
    background-color: #0066b2;
    color: white;
    width: 25%;
    border: 2px dotted white;
    border-radius: 25%;
    margin-left: 650px;
}

.paragraph{
    display: flex;
    background-color: #5F9EA0;
    width: 50vw;
    height: 15vh;
    border-radius: 10%;
    /*margin-bottom: 150px;*/
    margin: auto;
    display: block;


}

#content {
    color: white;
    font-size: 25px;
    justify-content: center;
    align-content: center;
    padding-left: 10px;
    padding-top: 10px;
}

img {
    margin: auto;
    display: block;
    border-radius: 50%;
    margin-top: 25px;
}

#list {
    background-color: white;
    color: black;
    width: 15vw;
}



